dn: {{ pillar['suffix'] }}
dc: m64
o: 'Lab'
objectClass: dcObject
objectClass: organization

dn: ou=People,{{ pillar['suffix'] }}
ou: People
description: 'Lab Users'
objectClass: organizationalUnit


{% for index in range(0, (pillar['users']|length)) %}
dn: uid={{ pillar['users'][index] }},ou=People,{{ pillar['suffix'] }}
uid: {{ pillar['users'][index] }}
cn: {{ pillar['users'][index] }}
objectClass: account
objectClass: posixAccount
objectClass: top
loginShell: /bin/bash
uidNumber: {{ index + 1000 }}
gidNumber: {{ index + 1000 }}
homeDirectory: /home/{{ pillar['users'][index] }}
gecos: {{ pillar['users'][index] }}
{% endfor %}